/* Stylowanie kontenera głównego */
.container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin: auto;
}

h1 {
    margin-bottom: 1.5rem;
    color: #333;
}

/* Stylowanie przycisków */
.primary-button {
    background-color: #007bff;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

.primary-button:hover {
    background-color: #0056b3;
}

/* Stylowanie przycisku usuń */
.delete-button {
    background-color: #ff4b5c;
}

.delete-button:hover {
    background-color: #ff1e3a;
}

/* Stylowanie listy i elementów listy */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

li a:hover {
    text-decoration: underline;
}
.listawyp{
    margin: auto;
    margin-bottom: 1rem;
}
/* Dodatkowy styl dla przycisków w elemencie listy */
.button-group {
    display: flex;
    gap: 0.5rem; /* Odstęp między przyciskami */
}

.button-group button {
    margin-left: 0; /* Usunięcie domyślnego marginesu lewego */
}
